@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e1e;
  color: white;
}
.home {
  background-image: url("/homebackground.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.boxShadow {
  -webkit-box-shadow: 0px 4px 10px 10px #00ffae5c;
  -moz-box-shadow: 0px 4px 10px 10px #00ffae5d;
  box-shadow: 0px 4px 10px 10px #00ffae70;
}

.animateopen {
  animation: pop-up 0.2s ease-in-out;
}

.animateexpand {
  animation: expand 0.2s ease-in-out;
}

@keyframes pop-up {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

@keyframes spin-shadow {
  0% {
    box-shadow: 0 0 25px rgba(0, 255, 175, 0.5), 0 0 25px rgba(0, 255, 175, 0.5);
  }
  25% {
    box-shadow: 5px 5px 25px rgba(0, 255, 175, 0.5), 5px 5px 25px rgba(0, 255, 175, 0.5);
  }
  50% {
    box-shadow: 0 5px 25px rgba(0, 255, 175, 0.5), 0 5px 25px rgba(0, 255, 175, 0.5);
  }
  75% {
    box-shadow: -5px 5px 25px rgba(0, 255, 175, 0.5), -5px 5px 25px rgba(0, 255, 175, 0.5);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 255, 175, 0.5), 0 0 25px rgba(0, 255, 175, 0.5);
  }
}

.spin-shadow {
  animation: spin-shadow 2s infinite linear;
}
